:root {
  --bg-color: black;
  --secondary-color: #181818;
  --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace
}

/* Navbar */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ag-nav-links{
    display: flex;
    gap: 25px;
}

/* Home Page */

.ag-home-container{
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}