:root {
  --bg-color: black;
  --secondary-color: #181818;
  --text-color: white;
  --text-color-secondary: #b1b1b1;
}

/* ScrollBar */
::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-secondary);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.ag-nav-links {
  display: flex;
  gap: 25px;
}

/* Footer */

footer {
  height: 150px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.ag-footer-container {
  height: 100%;
  width: 100%;
}

.ag-footer-social-links {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ag-footer-social-links a {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--text-color);
}

.ag-footer-social-links a:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.ag-footer-copyright {
  display: flex;
  align-items: center;
  height: 20%;
  justify-content: center;
}

.ag-footer-copyright p {
  font-size: 12px;
  font-family: var(--theme-font-fam-secondary);
}

/* Home Page */

.ag-home-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 0 3%;
}

.ag-home-title {
  background: url("../public/title-image-water.gif");
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.ag-home-container h1 {
  font-size: 12vw;
}

.ag-home-container p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  align-items: start !important;
  text-align: start;
}

p span {
  font-style: italic;
  color: var(--text-color-secondary);
}

/* Projects Page */
.ag-projects-container {
  display: flex;
  flex-direction: column;
}

.ag-projects {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.project-1 {
  background-color: rgb(77, 77, 77);
}

.project-2 {
  background-color: rgb(59, 59, 59);
}

.project-3 {
  background-color: rgb(43, 43, 43);
}

.project-4 {
  background-color: rgb(59, 59, 59);
}

.project-5 {
  background-color: rgb(77, 77, 77);
}

/* Info Page */
.ag-info-container {
  display: flex;
  flex-direction: column;
}

.ag-info {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.info-1 {
  background-color: rgb(77, 77, 77);
}

.info-2 {
  background-color: rgb(59, 59, 59);
}

.info-3 {
  background-color: rgb(43, 43, 43);
}

.info-4 {
  background-color: rgb(59, 59, 59);
}

.info-5 {
  background-color: rgb(77, 77, 77);
}
